*
{
	padding:0;
	margin:0;
}

body{
	background:url(MissionBg.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	overflow-x:hidden;
	
}

header
{
	height: 92px;
	background:rgba(210,105,30,0.50);
}
header .menu-bar
{
	background:rgba(210,105,30,0.50);
	text-align:center;
	color:#fff;
	width:100%;
}
.menu-bar ul
{
	display: inline-flex;
	list-style:none;
	color:#fff;
}
.menu-bar ul li
{
	width:120px;
	margin:0;
	padding:15px;
}	
.menu-bar ul li a
{
	text-decoration:none;
	color:#fff;
}
.active,.menu-bar ul li:hover
{
	background-color:peru;
	border-radius:3px;
}
.menu-bar, .fa
{
	margin-right:8px;
}

.sub-menu-1
{
		display:none;
}
.menu-bar ul li:hover .sub-menu-1
{
	display:block;
	position:absolute;
	background:rgba(210,105,30,0.50);
	margin-top:15px;
	margin-left:15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
	display:block;
	margin:10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
	width:150px;
	padding:10px;
	border-bottom:1px dotted #fff;
	background:transparent;
	border-radius:0;
	text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:last-child
{
	border-bottom:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{ 
	color:#b4ff00;
}
.fa-angle-right
{
	float:right;
}
.sub-menu-2
{
	display:none;
}
.hover-me:hover .sub-menu-2
{
	position:absolute;
	display:block;
	margin-top:40px;
	margin-left:140px;
	background:rgba(210,105,30,0.50);;
}

.search
{
	position: absolute;
	top: 10.9%;
	left: 81.5%;
	transform: translate(-50%,-50%)
}

.search_box
{
	width: 500px;
	border-radius: 50px;
	padding: 0px 10px;
}

.search_box input[type="text"]
{
	width: 100%;
	padding: 9px;
	padding-right: 60px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.3);
	border: 2px solid #fff;
	border-radius: 15px;
	font-size: 18px;
	color: #fff;
	outline: none;
}

.fa-search
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 25px;
	color: #fff;
	font-size: 25px;
}

footer{
	position: absolute;
}

.f{
	position:absolute;
	background-color: #292c2f;
	width:100%;
	height:200px;
	margin-top:562px;
	
}

.f p{
	width:750px;
	text-shadow: 0px 0px;
	margin-top:160px;
	margin-left:470px;
	font-size:15px;
}
.detail p{
	position:absolute;
	text-shadow: 0px 0px;
	margin-top:600px;
	margin-left:50px;
}
.detail a{
	color:red;
}

h1{
	font-size:50px;
	position:absolute;
	margin-left:550px;
	margin-top:30px;
	width:300px;
	color:White;
	
	}

.text{
		position:absolute;
		margin-top:120px;
		margin-left:20px;
		width:1300px;
		height:180px;
		border-radius:70px;
		background-color: rgba(0,0,128, 0.5);
		
	
	}	
p {
	color:white;
	margin-top:40px;
	margin-left:50px;
	font-size:22px;
	width:1200px;
	position:absolute;
	}